body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #757575;
  background-color: #fffffff;
}
ul {
  list-style: none;
  padding-left: 0;
}
a {
  text-decoration: none;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}
.header {
  display: flex;
  align-items: center;
  position: relative;
}
.web {
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  letter-spacing: 0.03em;

  color: #2196f3;
}
.studio {
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: #000000;
}
.nav {
  display: flex;
  gap: 50px;
  margin-left: 93px;
}

.contact {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
}

@media screen and (min-width: 768px) {
  .contact {
    margin-left: 85px;
  }
}


@media screen and (min-width: 1200px) {
  .contact {
    gap: 50px;
    margin-left: 250px;
  }
}

.nav__link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}
.nav__contact {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}
.nav__link:hover,
.nav__link:focus,
.nav__contact:hover,
.nav__contact:focus {
  color: #2196f3;
}



/* СКРИВАЄМО ОСНОВНЕ МЕНЮ */
@media screen and (max-width: 767px) {
  .header-menu {
    display: none;
  }
}
@media screen and (min-width: 767px) {
  .header-menu {
    display: flex;
    margin-left: auto;
  }
}